@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root { /* #root - это div, в который рендерится твое React-приложение */
  width: 100%;
  height: 100%;
  margin: 0;   /* <--- Убираем стандартные внешние отступы */
  padding: 0;  /* <--- Убираем стандартные внутренние отступы */
  overflow-x: hidden; /* Предотвращаем горизонтальную прокрутку на самом верхнем уровне */
}

body {
  margin: 0; /* Дублирование margin: 0 для body не повредит */
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9FAFB;
  color: #111827;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
}
